<html>
        <head>
            <title>Invoice Generator</title>
        </head>
        <body>
    
            <h3>ADD NEW INVIOCE</h3>
    
            <form method="POST" action="/myAccount/invoices">
                <label>title</label>
                <input type="text" name="title">
                <br>
                <label>Bill from</label>
                <input type="text" name="billFrom">
                <br>
                <label>Bill to</label>
                <input type="text" name="billTo">
                <br><br>
                <input type="submit" value="Submit">
            </form>
    
        </body>
    </html>