<html>
    <head>
        <title>Invoice Generator</title>
    </head>
    <body>

        <h3>add customer</h3>
        <form action="">
            <label for="">firstName</label>
        </form>
        <ul>
            <% users.forEach(function(user){ %>
                <li> <%= user.firstname %> </li>
            <% }); %>
        </ul>
    </body>
</html>

