<html>
    <head>
        <title>Invoice Generator</title>
    </head>
    <body>

        <h3>add customer</h3>

        <form method="POST" action="/users/add">
            <label>First Name</label>
            <input type="text" name="firstname">
            <br>
            <label>Last Name</label>
            <input type="text" name="lastname">
            <br>
            <label>email</label>
            <input type="text" name="email">
            <br><br>
            <input type="submit" value="Submit">
        </form>


        <ul>
            <% users.forEach(function(user){ %>
                <li> <%= user.firstname %> </li>
            <% }); %>
        </ul>
    </body>
</html>

