.red{
  color: red;
}

/* 595 x 842 a4 size */
.bordered{
  width: 595px;
  border: 0.5px solid black;
  padding: 10px;
}

.clickable:hover{
  cursor: pointer;
  color: rgb(48, 48, 70);
}

.invoice-section{
  border: 0.5px solid rgb(73, 73, 73);
  padding: 10px;
  margin: 10px;
}

.invoice-company{
  overflow: auto;
}

.invoice-services{
  padding: 10px;
  margin: 10px;
}

.invoice-summary{
  padding: 10px;
  margin: 10px;
}

.invoice-services table{
  width: 100%;
  border: 1px solid rgb(83, 83, 83);
}

.invoice-services input{
  border: none;
  width: 100%;
}

.invoice-services td{
  border: 1px solid rgb(151, 151, 151);
}

.right{
  float: right;
}

.optionBox{
  background-color: rgb(179, 179, 255);
}
