*{
  box-sizing: border-box;
}

html{
  background-color:rgb(30, 30, 45);
  color: rgb(170, 170, 170);
}

body{
  position: relative;
  margin: 2px;
  margin-bottom: 0;
  min-height: 100%;
}

.container{
  margin: 2vw;
  margin-top:70px;
  margin-bottom: 0;
}

.navIcon{
  padding-left: 5px; 
}

.tableWrapper{
  position: relative
}

.invoicesPaper{
  background-color: rgb(24, 24, 35);
  max-width: 100%;
  overflow-x: auto;
  color: inherit
}

.invoicesTable{
  width: 100%;
  color: inherit;
  overflow-x: auto;
  border-spacing: 0;
}

.invoicesTableHead{
  padding: 15px;
  background-color: rgb(52, 109, 245);
  color: rgb(212, 221, 240)
}

.invoicesTableRow{
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 10px;
}

.invoicesTable td{
  text-align: center;
  border-bottom: 1px solid rgb(136, 136, 136);
  padding: 10px;
}

.invoicesTable .editInvoiceButton{
  background-color: rgb(131, 7, 7);
}

.invoicesTable .onlineIcon{
  color: rgb(1, 167, 1);
  font-size: inherit;
}

.invoicesTable .offlineIcon{
  color: rgb(212, 138, 0);
  font-size: inherit
}

/* Edit invoice */

.editInvoice-wrapper{
 text-align: center;
}

.servicesTable-wrapper{
  overflow-x: auto;
}

.servicesTable{
  border: none;
  width: 100%;
  color: inherit;
  overflow-x: auto;
  border-spacing: 0;
}

.servicesTableHead{
  padding: 5px;
  background-color: rgb(52, 109, 245);
  color: rgb(212, 221, 240)
}

.servicesTableRow{
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 10px;
}

.servicesTable td{
  text-align: center;
  border-bottom: 1px solid rgb(136, 136, 136);
  padding: 10px;
}

.servicesTable .editInvoiceButton{
  background-color: rgb(131, 7, 7);
}


.invoice-summary{
  padding: 10px;
  margin: 10px;
}

.invoice-summary table{
  border-spacing: 0;
  min-width: 40%;
  text-align: left;
  margin-right: 0px;
  margin-left: auto;
}

.invoice-summary td{
  padding: 4px;
}

.invoice-summary .totalDueCell{
  background-color: #346df5;
  color: white;
}

.invoice-summary .totalDueCell h4{
  margin: 2px;
}

.accountOption:hover{
  filter:opacity(70%);
}

/* 595 x 842 a4 size */
.bordered{
  width: 100%;
  border: 0.5px solid black;
}

.addService__buttonWrapper{
  margin: auto;
  padding: 8px;
  color: #191919;
  border: 1px solid darkgrey;
  border-radius: 5px;
  width: 95%;
}

.addService__buttonWrapper h4{
  margin: 0;
}

.clickable:hover{
  cursor: pointer;
  color: rgb(14, 42, 107);
}

.viewInvoiceContainer{
  text-align: left;
}


@media only screen and (max-width: 600px) {
  .viewInvoiceContainer{
    text-align: center;
  }
  }





